package ${basePackage}${servicePath};

import nxcloud.base.provider.core.jpa.search.SearchFilter;
import nxcloud.base.provider.core.jpa.search.SearchResult;
import ${basePackage}${doPath}.${className};

import java.util.List;
import java.util.Optional;

public interface ${className}Service {

#foreach ($column in $columns)
    #if(${column.isUniqueColumn()})
    Optional<${className}> findBy${column.getCapJavaField()}(${column.javaType} ${column.javaField});

    List<${className}> findAllBy${column.getCapJavaField()}s(List<${column.javaType}> ${column.javaField}s);

    #end
    #if(${column.isPkColumn()})
    Optional<${className}> findBy${column.getCapJavaField()}(${column.javaType} ${column.javaField});

    List<${className}> findAllBy${column.getCapJavaField()}s(List<${column.javaType}> ${column.javaField}s);

    void delete(List<${column.javaType}> ${column.javaField}s);

    #end
#end
    SearchResult<${className}> findAll(SearchFilter searchFilter);

    ${className} create(${className} create);

    ${className} update(${className} update);

}
