package ${basePackage}${reqPath};

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
#foreach ($import in $importList)
import ${import};
#end

/**
 * $!{tableComment}
 *
 * @author ${author}
 * ${dateTime}
 */
@Data
@Builder
@AllArgsConstructor
@NoArgsConstructor
public class Update${className}Request {

#foreach ($column in $columns)
    #if(!${column.cuIgnore()})
    /** $!{column.columnComment} */
    @ApiModelProperty("${column.columnComment}")
    private $column.javaType $column.javaField;

    #end
#end

}
